@model Aula05Projeto.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Criar Pedido";
}

<div class="text-Center">
    <h1>Cadastro de Pedido</h1>
    <div class="container">
        <form id="formOrder" method="post" asp-action="Create" asp-controller="Order">

            <div class="row mb-2">
                <div class="form-group">
                    <label asp-for="@Model.CustomerId">Cliente:</label>
                    <select type="text" asp-for="@Model.CustomerId">
                        @foreach (var c in Model.Customers)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <h5>Item</h5>
                </div>
                <div class="col-2">
                    <h5>Quantidade</h5>
                </div>
                <div class="col-2">
                    <h5>Valor Unitário</h5>
                </div>
                <div class="col-2">
                    <h5>Valor Final</h5>
                </div>
                <hr class="mt-4 mb-3"/>
                @for (int i=0; i < Model.SelectedItems!.Count; i++)
                {
                    <div class="col-2">
                        <input type="checkbox" class="form-check-input" asp-for="@Model.SelectedItems[i].IsSelected" />
                        <input type="hidden" asp-for="@Model.SelectedItems[i].OrderItem" />
                    </div>
                    <div class="col-4">
                        <input type="hidden" asp-for="@Model.SelectedItems[i].OrderItem.Product!.Id" />
                        <span>@Model.SelectedItems[i].OrderItem.Product!.ProductName</span>
                    </div>
                    <div class="col-2">
                        <input type="number" asp-for="@Model.SelectedItems[i].OrderItem.Quantity" />
                    </div>
                    <div class="col-2">
                        <span>
                            @string.Format("{0:C}", Model.SelectedItems[i]!.OrderItem!.Product!.CurrentPrice)
                        </span>
                    </div>
                    <div class="col-2">
                        <input type="number" asp-for="@Model.SelectedItems[i].OrderItem.PurchasePrice" />
                    </div>
                    <hr class="my-3"/>
                }
            </div>

            <button id="bntCustomer" type="submit" class="btn btn-success" value="Cadastrar">
                Cadastrar
            </button>
        </form>
    </div>
</div>