@model Aula05Projeto.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Criar Pedido";
}

<div class="text-Center">
    <h1>Cadastro de Pedido</h1>
    <div class="container">
        <form id="formOrder" method="post" asp-action="Create" asp-controller="Order">

            <div class="row mb-2">
                <div class="form-group">
                    <label asp-for="@Model.CustomerId">Cliente:</label>
                    <select type="text" asp-for="@Model.CustomerId">
                        @foreach (var c in Model.Customers)
                        {
                            <option value"c.Id">@c.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <h5>Item</h5>
                </div>
                <div class="col-2">
                    <h5>Quantidade</h5>
                </div>
                <div class="col-2">
                    <h5>Valor Unitário</h5>
                </div>
                <div class="col-2">
                    <h5>Valor Final</h5>
                </div>
                <hr class="mt-4 mb-3"/>
                @for (int i=0; i < Model.SelectedItems!.Count; i++)
                {
                    var item = Model.SelectedItems[i];
                    <div class="col-2">
                        <input type="checkbox" aps-for="@item.IsSelected" />
                    </div>
                    <div class="col-4">
                        <input type="hidden" aps-for="@item.OrderItem.Product!.Id" />
                        <span>@item.OrderItem.Product!.ProductName</span>
                    </div>
                    <div class="col-2">
                        <input type="number" asp-for="@item.OrderItem.Quantity" class="d-block w-100"/>
                    </div>
                    <div class="col-2">
                        <span>@string.Format("{0:C}", item.OrderItem.Product!.CurrentPrice)</span>
                    </div>
                    <div class="col-2">
                        <input asp-for="@item.OrderItem.PurchasePrice" class="d-block w-100" />
                    </div>
                    <hr class="my-3"/>
                }
            </div>

            <button id="bntCustomer" type="submit" class="btn btn-success" value="Cadastrar">
                Cadastrar
            </button>
        </form>
    </div>
</div>